@page "/aboutus"

<h3 class="text-center">Welcome to PC Designer</h3>

<div class="container">
    <p>
        Thank you for choosing PC Designer, your go-to place for everything related to PC building and technology.
    </p>
    <p>
        At PC Designer, we strive to provide you with the latest insights, guides, and inspiration to help you create
        powerful and unique computer setups.
    </p>
    <p>
        Join our community, explore our content, and let's embark on the exciting journey of building incredible PCs together!
    </p>
</div>