html, body {
    background-color: #1c1c1c;
    color: #fff;
}

a, .btn-link {
    color: #4e94e0;
}

.btn-primary {
    color: #fff;
    background-color: #365d8b;
    border-color: #2e5073;
}

.content {
    background-color: #2c2c2c;
    border: 1px solid #444;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #4caf50;
}

.invalid {
    outline: 1px solid #ff5252;
}

.validation-message {
    color: #ff5252;
}

/* Дополнительные стили для темной темы, если нужно */

/* Пример стилей для таблицы */
.table-dark {
    background-color: #2c2c2c;
    color: #fff;
}

.table-dark th, .table-dark td {
    border-color: #444;
}